<!--One File for Vue&HTML-->
<!DOCTYPE html>
<html lang="en">
        <head>
            <title>Gallery</title>
            <meta charset="UTF-8">       
            <script src="https://kit.fontawesome.com/b748da6f1a.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="style.css" rel="stylesheet">
        </head>

        <body>
          <header> 
            <nav>
              <ul>
                <li><a class="bar" href="about.html">About</a></li>
                <li><a class="bar" href="gallery.html">Gallery</a></li>
                <li id="home-trigger" class="home home-trigger"><a href="index.html"> <i class="fas fa-home"></i></a></li>
                <li><a class="bar" href="business.html">Business</a></li>
                <li><a class="bar" href="contact.html">Contact</a></li> 
              </ul>
            </nav>
          </header>

          <div class="app">
              <div class="buttoncontainer"> <!--below three expressions are tagged along each button to filter purpose-->
                <button class="bttn" @click="(seen=!seen);(seen2=false);(seen3=false)" ><i class="fas fa-cat"></i></button>
                <button class="bttn" @click="(seen2=!seen2);(seen=false);(seen3=false)"><i class="fas fa-biking"></i></button> 
                <button class="bttn" @click="(seen3=!seen3);(seen=false);(seen2=false)"><i class="fas fa-umbrella-beach"></i></button> 
              </div>
            <div v-show="seen">
                <div class="container">
                    <div >
                        <img class="image"  @mouseover="hover = true" @mouseleave="hover = false" :class="{ active: hover }" v-for="image in images" :src="image.url" :alt="image.alt">
                    </div>
                </div>
            </div>
            
            <div v-show="seen2">
                <div class="container">
                    <div >
                        <img class="image" @mouseover="hover = true" @mouseleave="hover = false" :class="{ active: hover }" v-for="image in images2" :src="image.url" 
                        :alt="image.alt">
                    </div>
                </div>
            </div>
            <div v-show="seen3">
                <div class="container">
                    <div >
                        <img class="image" @mouseover="hover = true" @mouseleave="hover = false" :class="{ active: hover }" v-for="image in images3" :src="image.url" 
                        :alt="image.alt">
                    </div>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
    <script>
        /*Below is the Vue part*/
        var vm = new Vue({
                    el: ".app",
                    data () { 
                        return{
                        seen: false,seen2:false,seen3:false,hover:false,
                          images: [
                    { url: 'Photo/cakilnew.jpg', alt: 'cakil1' }, 
                    { url: 'Photo/cakilnew2.jpg', alt: 'cakil2' },
                    { url: 'Photo/cakilnew3.jpeg', alt: 'cakil3' },
                    { url: 'Photo/cakilnew5.jpeg', alt: 'cakil4' },
                    { url: 'Photo/cakilnew6.jpeg', alt: 'cakil5' },
                    { url: 'Photo/cakilnew7.jpeg', alt: 'cakil6' }
                ],
                images2: [{ url: 'Photo/sport1.jpg', alt: 'tennis1' },
                    { url: 'Photo/sport2.jpg', alt: 'tennis2' },
                    { url: 'Photo/sport3.jpg', alt: 'cycling1' },
                    { url: 'Photo/sport4.jpg', alt: 'cycling2' }],
                images3: [{ url: 'Photo/travel1.jpg', alt: 'rome' },
                {url: 'Photo/travel2.jpg', alt: 'acropolis' },
                {url: 'Photo/travel3.jpg', alt: 'canyon' },
                {url: 'Photo/travel4.jpg', alt: 'amsterdam'},
                {url: 'Photo/travel5.jpg', alt: 'paris' }]
                }},
            })

            </script>
    </body>

</html>