

body {
    background-color: black;
    color: white;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;

  }

  header {
    width: 100%;
    background: black;
    z-index: 10000;
    border-bottom: 4px solid #323042;
  }
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
 
  }
  @media (min-width: 625px) {
    nav ul {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  } 
  nav ul li {             /*mobile view, dropdown navbar*/
    display: none;
    display: block;
    transform: scale(0.9);
    
  }
  @media (min-width: 625px) {    /*standart navbar view(for all other devices) */
    nav ul li {
      display: block;
      
    }
  }
  .bar {
    display: block;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 14px 30px;
    transition: background 1.25s, box-shadow 1.45s;
  }
  .bar:hover {
    color: white;
    background: black;

    box-shadow: 0px 4px 0px 0px #de6e4b;
  }
  @media (min-width: 625px) {
    .bar {
      padding: 20px;

    }
  }
  .home {
    font-size: x-large;
    display: none;
    margin: 0 auto;
    padding: 15px 30px;
  }
  @media (min-width: 625px) {
    .home {
      display: block;
      margin: initial;
    }
  }
  .home-trigger {
    display: block;
    order: -1;
    padding: 12px 30px;
  }
  @media (min-width: 625px) {
    .home-trigger {
      order: initial;
    }
  }

  .fa-home {
    font-size: 2.4em;
    color: #de6e4b;
    transition: all 0.6s ease-in-out;
  }
  .fa-home:hover {
    color: crimson;
    transform: scale(2);
  }
  @media (min-width: 625px) {
    .fa-home {
      font-size: 1.2em;
    }
  }

  h1{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 4vw;
    text-align: center;
    
    color: white;}
#main{
    width: 150%;
    height: auto;
}

@media (min-width: 625px) {
  #main {
    
    width: 100%;
    height: auto;
  }
}

.bttn{
  background-color: #de6e4b;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 25px;
  cursor: pointer;
}

#form{
  margin-top: 4rem;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1.5em;

}.formcontent{
  width: 500px;
  height: 25px;
}
button:hover{
  background-color: crimson;
  font-weight: bold;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #8a3ab9;
  color: white;
}
.fa-github {
  background: #171515 ;
  color: white;
}

.fab{
  border-radius: 16px;
  padding: 20px;
  font-size: 30px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
#social{
  text-align: center;
  margin: auto;
  position:fixed;
  bottom: 0px;
}

.cont{
  position: relative;
  width: 100%;

}
.mainimage{
  object-fit: cover;
}
div.slide-left {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 4vw;
  color: white;
  overflow:hidden;
  width: 80%;
  position: absolute;
  bottom: 8px;
  left: 0px;
  line-height: 0.5;
}
#faster {
  animation: slide-left 3s;
}
#fast {
  animation: slide-left 4s;
}
#slow {
  animation: slide-left 5.5s;
}

@keyframes slide-left {
  from {
    margin-left: 150%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*below is about page styles*/

#aboutme{
  margin:2rem 2rem;
  font-size:2vw;
  text-align: center;
  line-height: 2rem;
  padding-top: 2rem;
  border: #de6e4b solid;
  border-radius: 3%;
  border-width: 0.2rem;
}
@media only screen and (max-width: 625px) {
  #aboutme {
    line-height: 1rem;

  }
}
.fa-flag-usa{
  color: white;
  font-size: xx-large;
}
.fa-code{
  color: white;
  font-size: xx-large;
}
@media only screen and (max-width: 625px) {
  .fa-flag-usa, .fa-code {
font-size: large;

  }
}


/*below is gallery styling*/

.container{
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto; 
  grid-gap: 1rem;
  margin: auto auto auto auto;
}
.container > div {
  background-color: black;
  text-align: center;
  padding: 20px 0;
}
.image {
  width: 33.33%;
  height: auto;   
}

.image:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
  text-align: center;

}

.active{
    border-radius: 10%;
}
.app{
  text-align: center;
  margin-top: 350px;
  
}
.bttn{
  margin:1rem 1rem 1rem 1rem;
  
}
.buttoncontainer{
  font-size: xx-large;
  background-color: rgb(41, 41, 41);
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}
.bttn:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  text-align: center;
  border: solid rgba(255,255,255,1); 
}


#animated {
  margin-right: 4rem;
  background-color: #45CEE0;
  height: 880px;
  width: 200px;
}

/*business page styles*/
#businesstext{
  padding:1rem 1rem;
  font-size:1.8vw;
  text-align: justify;
  margin: 2rem auto;
  width: 100%;
  border: #de6e4b solid;
  border-radius: 3%;
  border-width: 0.2rem;
}

#bsvideo{
  
  position: relative;
    overflow: hidden;
    padding-top: 56.25%;}
  #video{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    border: 0;
  }
  
#bscalc{
  
  padding-top: 1rem;
  text-align: center;
  border: #de6e4b solid;
  border-radius: 3%;
  border-width: 0.2rem;
  width: 80%;
  height:100%
  
}
#bsform{
font-size:1.5vw; 
width: 100%;
height: auto;
}


/*ABOUT PAGE STYLES*/

* {
  box-sizing: border-box;
  
}
/* the vertical ruler */
.timeline2 {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.timeline2::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container2 {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container2::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #de6e4b;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #323042;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #323042 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #323042;
  position: relative;
  border-radius: 6px;
}

/* Media queries for mobile view */
@media screen and (max-width: 625px) {
  /* Place the timelime to the left */
  .timeline2::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container2 {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* All arrows are pointing leftwards */
  .container2::before {
  left: 60px;
  border: medium solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #323042 transparent transparent;
  }
  .left::after, .right::after {
  left: 15px;
  }
  .right {
  left: 0%;
  }
}
